<stron>Hello, {{name}}</stron>
<p>Welcome to GymPoint. Your subscription was successful</p>
<p>
  <strong>Plan: </strong>{{plan}}<br />
  <strong>Start Date: </strong>{{startDate}}<br />
  <strong>End Date: </strong>{{endDate}}<br />
  <strong>Price: </strong>{{price}}<br />
  <br />
</p>
<p>
  Now you can use GymPoint Mobile App (Android). 
  <br/>
  To login, use your <strong>ID: {{student_id}}</strong> <br/>
  Enjoy!
</p>