<stron>Hello, {{name}}</stron>
<p>Welcome to GymPoint. Your subscription was successful</p>
<p>
  <strong>Plan: </strong>{{plan}}<br />
  <strong>Start Date: </strong>{{startDate}}<br />
  <strong>End Date: </strong>{{endDate}}<br />
  <strong>Price: </strong>{{price}}<br />
  <br />
</p>